.center {
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 90px;
  height: 90px;
  cursor: pointer;
}

.img-interrogation {
  mix-blend-mode: multiply;
}

.win-container {
  text-align: center;
}

.play-button {
  padding: 8px;
  color: white;
  background-color: DodgerBlue;
  border: 1px solid DodgerBlue;
  border-radius: 7px;
  cursor: pointer;
}

@media (max-width: 600px) {
  img {
    width: 65px;
    height: 65px;
  }
}